@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes slide-fade {
      0% {
        opacity: 0;
        transform: translateY(12px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    .animate-slide-fade {
      animation: slide-fade 0.3s ease-out;
    }
  }